<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/detallesProd.css">
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <div class="contenedor">
        <section class="product-info">
          <img class="img-principal" src="<% let img = producto.img.split(' ')  %> <%= img[0] %> " alt="Imagen del Producto" class="product-image"
            width="700px" height="500px">
          <div class="product-details">
            <h1 class="product-title">
              <%= producto.name %>
            </h1>
            <p class="product-description">
              <%= producto.descripcion%>
            </p>
            <p class="product-price">Precio:</p>
            <p class="product-p">
              <%= producto.price %>
            </p>
          </div>
        </section>
        <section id="fotos" class="container">
          <div class="fotos">
            <% let img1 = img.slice(1, 6) %>
            <% img1.forEach(img => { %>
                <img src="<%= img %>" alt="foto">
           <% }) %>
            
    
          </div>
          <div class="botones">
            <div class="botones-arriba">
              <% if(!locals.logged){ %>
                <form action="../user/login">
                  <button type="submit" class="boton">Consultar</button>
                </form>
                <form action="../user/login">
                  <button type="submit" class="boton-destacado">Reservar</button>
                </form>
              <% } else { %>
                <form action="../detalleProd/consultar" method="POST">
                <input class="invisible" type="number" name="id" value="<%= producto.id %>">
                <button type="submit" class="boton">Consultar</button>
                </form>
                <form action="../detalleProd/reservar" method="POST">
                  <input class="invisible" type="number" name="id" value="<%= producto.id %>">
                  <button type="submit" class="boton-destacado">Reservar</button>
                </form>
             <% } %>
    
          </div>
        </section>
        <section class="carac-tecn">
        
            <div class="ficha-tecnica">
              <p id="fichaTecnicaBtn" class="txtFichaTecnica">Ficha técnica</p>
            </div>
              
              <div class="cajas" id="cajasFicha">

                  <div class="contenedorDetalles">  
                    <div class="h2Detalles">
                      <h2>CARACTERISTICAS</h2>
                    </div>
                    <div class="bloque">
                      <% let caracteristicas = producto.caracteristicas.split('//')%>
                      <%= caracteristicas[0] %>
                    </div>
                  </div>
                <div class="contenedorDetalles">  
                  <div class="h2Detalles">
                    <h2>CONFORT</h2>
                  </div>
                  <div class="bloque">
                    <%= caracteristicas[1] %>
                  </div>
                </div>
                <div class="contenedorDetalles">  
                  <div class="h2Detalles">
                    <h2>SEGURIDAD</h2>
                  </div>
                  <div class="bloque">
                    <%= caracteristicas[2] %>
                  </div>
                </div>
              </div>
        </section>
      </div>
    </main>
    <%- include('../partials/footer') %>
      <div id="popup-container">
        <div class="popup-content">
          <h2>Formulario de Contacto</h2>
          <form id="contact-form">
            <label for="name">Nombre:</label>
            <input type="text" id="name" required>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" required>
            <label for="message">Mensaje:</label>
            <textarea id="message" required></textarea>
            <button type="submit">Enviar</button>
          </form>
          <button id="close-popup-btn">Cerrar</button>
        </div>
      </div>

      <script src="../script.js"></script>

      <script>
    let btnFichaTec = document.getElementById('fichaTecnicaBtn');
    let btnContenedor = document.getElementById('cajasFicha');

    btnFichaTec.addEventListener('click', function(){
        btnContenedor.classList.toggle('cajasContenedorFicha');
    })
      </script>
</body>

</html>