<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/carga-edicion.css" />
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <h1>Edición de Productos</h1>
      <form id="productForm" action="/detalleProd/<%=producto.id%>/edit?_method=PUT " method="POST" enctype="multiport/form-data">
        <div class="posicionamientoForm">
          <label for="name">Nombre del producto:</label>
          <input type="text" id="name" name="name" value="<%=producto.name%>" required />
        </div>
        <div class="posicionamientoForm">
          <label for="marca">Marca:</label>
          <input type="text" id="marca" name="marca" value="<%=producto.marca%>" required />
        </div>
        <div class="posicionamientoForm">
          <label for="modelo">Modelo:</label>
          <input type="text" id="modelo" name="modelo" value="<%=producto.modelo%>" required />
        </div>
        <div class="posicionamientoForm">
          <label for="description">Descripción:</label>
          <textarea id="description" name="description" required><%=producto.descripcion%></textarea>
        </div>
        <div class="posicionamientoForm">
          <label for="image">Imagen:</label>
          <input type="file" id="image" name="imageUsuario" value="<%=producto.img1%>" accept="image/*" />
        </div>
        <div class="posicionamientoForm">
          <label for="category">Categoría:</label>
          <input type="text" id="category" name="category" value="<%=producto.category%>" required />
        </div>
        <div class="posicionamientoForm">
          <label for="colors">Colores:</label>
          <input type="text" id="colors" name="colors" value="<%=producto.color%>"/>
        </div>
        <div class="posicionamientoForm">
          <label for="price">Precio:</label>
          <input type="number" id="price" name="price" step="0.01" value="<%=producto.price%>" required />
        </div>
        <button id="botonGuardar" type="submit">Guardar Producto</button>
      </form>
      <form action="/detalleProd/<%=producto.id%>/edit?_method=DELETE" method="POST" enctype="multiport/form-data">
        <button id="botonGuardar" type="submit">Borrar Producto</button>
      </form>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>