<!DOCTYPE html>
  <html>
  <head>

    <%- include('../partials/head') %>
   <link rel="stylesheet" href="/css/productCart.css">

  </head>
  <body>
    <%- include('../partials/header') %>
    <main>      
      <!-- SECTION PRODUCTO  -->
      <% if(locals.productos){ %>
      <section class="sectionProducto">
        <div class="contenedorSectionProducto">

          <div class="tituloProducto">
            <p>Productos</p>
          </div>
          <% productos.forEach((producto)=>{ %>
            <div class="contenedorProducto">
             <% console.log(producto)%>
              <div class="contenedorIzq">
                <div class="contenedorIzqImg">
                <form id="formCarritoDelete" action='/productCart/<%= producto.id%>/delete' method="GET">
                  <button id="btnCarritoDelete" type="submit">X</button>
                </form>
                  <img class="imagen-producto" src="<% let img = producto.img.split(' ')  %> <%= img[0]  %> " alt="Auto">
                </div>
                <div class="contenedorIzqTexto">   
                  <h3 class="tituloIzq"><%= producto.name_product %></h3>
                </div>
              </div>
              
              <div class="contenedorDer">
              <div class="contenedorDerinputs" id="contenedorCantidad">
                <p>Cantidad:</p>
                <button class="sumar">+</button>
                <p id="cantidad">1</p>
                <button class="restar">-</button>
              </div>
              
              <div class="contenedorDerinputs">
                <p>Precio:</p>
                <p id="precioAuto<%=producto.id%>" class="precio"><%= producto.price %></p>
              </div>
            
            </div>
          </div>
         <% }) %>
          
        
        <div class="envioProducto">
          <div class="envioTextoProducto">
            <p>Envio</p>
          </div>
          <div class="precioTextoProducto">
            <p>$ </p>
            <p>5000</p>
          </div>
        </div>
      </div>
      </section>
  
      <!-- SECTION RESUMEN DE COMPRA  -->
    
      <section class="sectionCompra">
        <div class="contenedorCompra">
          <h3 class="titulo-resumen">Resumen de Compra</h3>
          
          <div class="resumenCompra">
            <div class="contenedorItemResumen">
              <% productos.forEach((producto)=>{ %>
                <div class="itemResumen">
                  <p>Producto:</p>
                  <p id="precio<%=producto.id%>" class="precioTotal" ><%= producto.price%></p>
                </div>
              <% }) %>
              
              <div class="itemResumen">
                <p>Envio:</p>
                <p>5000</p>
            </div>
          </div>
          <% let total = 5000; %>
           <% for(producto of productos){ %>
             <% total += producto.price %>
            <% } %>
          <div class="itemResumen">
            <p>Total:</p>
            <p id="total"><%= total %></p>
          </div>
        </div>
        <button class="boton-resumen">Continuar compra</button>
      </div>
    
    </section>  
    <% } else { %>
      <section class="sectionProducto">
        <div class="contenedorSectionProducto">

          <div class="tituloProducto">
            <p>Productos</p>
          </div>
          
           
        </div>
        
        <div class="envioProducto">
          <div class="envioTextoProducto">
            <p>Envio</p>
          </div>
          <div class="precioTextoProducto">
          </div>
        </div>
      </div>
      </section>
  
      <!-- SECTION RESUMEN DE COMPRA  -->
    
      <section class="sectionCompra">
        <div class="contenedorCompra">
          <h3 class="titulo-resumen">Resumen de Compra</h3>
          
          <div class="resumenCompra">
            <div class="contenedorItemResumen">
            
          </div>
          
          <div class="itemResumen">
            <p>Total:</p>
          </div>
        </div>
        
        <button class="boton-resumen">Continuar compra</button>
        
      </div>
    </section> 
      <% } %>
    </main>
    <%- include('../partials/footer') %>
    <script>

      const resize = function() {
        let textoDelete = '';
        if (window.innerWidth >= 361) {
          textoDelete = 'Eliminar producto';
        } else {
          textoDelete = 'x';
        }
      
        document.querySelector('#btnCarritoDelete').innerText = textoDelete;
      }

        
        resize();

        window.addEventListener('resize', resize);


      window.addEventListener('load', ()=>{
        let sumar = document.querySelectorAll('.sumar');
        let cantidad = document.querySelectorAll('#cantidad');
        let restar = document.querySelectorAll('.restar');
        let precio = document.querySelectorAll('.precio');
        let precioTotal = document.querySelectorAll('.precioTotal')
        let totalFinal = document.querySelector('#total')

        sumar.forEach((suma, i)=>{
          suma.addEventListener('click',()=>{
              let cantidadCero = cantidad[i].innerText;
              cantidadCero++
              cantidad[i].innerText = cantidadCero
              let total = precio[i].innerText * cantidad[i].innerText
              precioTotal[i].innerText = total
              Total()
          })
        })

        restar.forEach((resta, i)=>{
          resta.addEventListener('click', ()=>{
            let cantidadCero = cantidad[i].innerText;
            cantidadCero--
            cantidad[i].innerText = cantidadCero
            let total = precio[i].innerText * cantidad[i].innerText
            precioTotal[i].innerText = total
            Total()
          })
        })

        function Total() {
          let totalPr = 0;

          precioTotal.forEach((precio) => {
            let pr = precio.innerText;
            totalPr += parseInt(pr);
          });

          totalFinal.innerText = totalPr;
        }
    
      })
    </script>
  </body>
  </html>