 <!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    
    <h1 class="titulo">Productos</h1>
    
    <section class="lista-productos">
      <% if(productos.length > 0) { %>
      <% productos.forEach((producto=>{ %>
        <article class="producto">
          <img src="<% let img = producto.img.split(' ')  %> <%= img[0] %> " alt="Auto">
          <h2><%= producto.name%></h2>
          <p class="p-product"><%= producto.descripcion %></p>
          <span class="precio"><%= producto.price %> </span>
          <a href="/detalleProd/<%=producto.id%>" class="btn">Ver Detalles</a>
        </article>
      <% })) %>
    </section>
      
    <h1 class="tituloRecomendado">Recomendado para tí</h1>
    
    <section class="lista-recomendados">
      <% productos.forEach((producto=>{ %>
        <article class="producto">
          <img src="<% let img = producto.img.split(' ')  %> <%= img[0] %> " alt="Auto">
          <h2><%= producto.name%></h2>
          <p class="p-product"><%= producto.descripcion %></p>
          <span class="precio"><%= producto.price %> </span>
          <a href="/detalleProd/<%=producto.id%>" class="btn">Ver Detalles</a>
        </article>
      <% })) %>   
      <% } else { %>
          <li class="error-search-vacio">
            <%= "No se han encontrado resultados con la búsqueda" %>
          </li>
      <% } %>   
    
    </section>
    
  </main>
  <%- include('../partials/footer') %>

  <script src="/js/clearMode.js"></script>
  <!-- <script src="/js/carrito.js"></script> -->
</body>
</html>

