<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <section id="login">
        <h2>Iniciar Sesión</h2>
        <div>
          <form id="Iniciar" action="/user/login" method="POST" enctype="multipart/form-data">
            <input type="text" id="email" name="email"  class="inicio iniput" placeholder="Email"
              value="<%= (locals.old && old.email) ? old.email : '' %>">
            <% if(locals.errors && errors.email){ %>
              <div class="text-error">
                <%= errors.email.msg %>
              </div>
              <% } %>
                <input type="password" id="password" name="password" class="inicio iniput" placeholder="Contraseña" value="">
                <% if(locals.errors && errors.password){ %>
                  <div class="text-error">
                    <%= errors.password.msg %>
                  </div>
                  <% } %>

                    <p class="inicio">
                      <input type="checkbox" id="sesion-iniciada" name="sesion" class="iniput">
                      <label for="sesion-iniciada">Mantener sesión iniciada</label>
                      <% if(locals.errors && errors.sesion){ %>
                        <div class="text-error">
                          <%= errors.sesion.msg %>
                        </div>
                        <% } %>
                    </p>
                   

                    <button type="submit" class="inicio" id="boton1">Iniciar Sesión</button>

                    <p class="inicio">
                      <a href="register">No tenes cuenta todavía, registrate acá</a>
                    </p>
          </form>
        </div>
      </section>
      <section id="invitado">
        <h2>Continuar como invitado</h2>
        <button type="submit" id="boton2">Invitado</button>
      </section>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>