<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <section id="login">
        <h2>Iniciar Sesión</h2>
        <div>
          <form id="Iniciar" action="/user/login" method="POST">
            <input type="email" id="email" name="email" class="inicio iniput" placeholder="Email"
              value="<%= (locals.old && old.email) ? old.email : '' %>">
            <% if(locals.errors && errors.email){ %>
              <div class="text-error">
                <%= errors.email.msg %>
              </div>
              <% } %>

              <div class="contenedor-password">

                <input type="password" id="password" name="password" class="inicio iniput" placeholder="Contraseña"
                value="<%= (locals.old && old.password) ? old.password : '' %>">
                <button type="button" class="boton-passsword" id="boton-passsword">
                  <i class="fas fa-eye ojoPasswordBoton" id="ocultar-password"></i>
                  <i class="fas fa-eye-slash ojoPasswordBoton" id="mostrar-password"></i>
                </button>
                
                <% if(locals.errors && errors.password){ %>
                  <div class="text-error">
                    <%= errors.password.msg %>
                  </div>
                  <% } %>
                
                </div>
                  
                    <p class="inicio">
                      <input type="checkbox" id="sesion-iniciada" name="sesion" class="iniput">
                      <label for="sesion-iniciada">Mantener sesión iniciada</label>
                      <% if(locals.errors && errors.sesion){ %>
                        <div class="text-error">
                          <%= errors.sesion.msg %>
                        </div>
                        <% } %>
                    </p>

                    <ul id="errors" style="display: none ;" class="errors"></ul>
                    <button type="submit" class="inicio" id="boton1">Iniciar Sesión</button>

                    <p class="inicio">
                      <a href="register">No tenes cuenta todavía, registrate acá</a>
                    </p>
          </form>
        </div>
      </section>
      <section id="invitado">
        <form id="invitado" action="/user/invitado" method="POST">
          <h2>Continuar como invitado</h2>
          <button type="submit" id="boton2">Invitado</button>
        </form>
      </section>
    </main>

    <%- include('../partials/footer') %>
</body>

<!-- BOTON OCULTAR/VER TEXTO PASSWORD -->

<script>

    var botonPasssword = document.getElementById('boton-passsword');
    var password = document.getElementById('password');
    var mostrarPassword = document.getElementById('mostrar-password');
    var ocultarPassword = document.getElementById('ocultar-password')
    botonPasssword.addEventListener("click", function(){
      if (password.type === "password") {
        password.type = "text";
        mostrarPassword.style.display = 'flex';
        ocultarPassword.style.display = 'none';
        
      } else {
        password.type = "password";
        ocultarPassword.style.display = 'flex';
        mostrarPassword.style.display = 'none';
      }
    })

    // validaciones
    window.addEventListener('load', ()=>{

      let form = document.querySelector('#Iniciar')
      let email = document.querySelector('#email');
      let password = document.querySelector('#password');

      let errors = []

      form.addEventListener('submit', (e)=>{
          if(email.value == '' || password.value == ''){
              e.preventDefault()
              errors.push('Los campos no pueden estar vacios')  
          }
          if(password.value.length < 8){
              e.preventDefault()
              errors.push('La contraseña debe tener al menos 8 caracteres')
        }

        if(errors.length > 0){
          let list = document.querySelector('#errors')
          list.innerHTML = ''
            for(error of errors){
              list.innerHTML += '<li>'+ error +'</li>'
            }
            list.style.display = 'flex'
          }
        errors = []
      })
      })
  </script>
  

</html>