<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <%- include('../partials/header') %>
    <main class="mainProfile">
      <section>
        <form id="Perfil" action="/user/profile" method="GET" enctype="multipart/form-data">

          <h2 id="userProfile" class="userProfile">Hola <%= user.nombre %>
          </h2>
          <img id="userImg" class="userImg" src="/img/users/<%= user.foto %>">
          <div id="mailContainer" class="mailContainer">
            <p>Email <%= user.email %>
            </p>
          </div>
        </form>
      </section>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>