<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <section class="logo">
        <img src="#" alt="img">
      </section>

      <section id="izquierda">

        <div id="triangulo1"></div>
        <div id="triangulo3"></div>
        <div id="triangulo2"></div>

      </section>
      <section id="derecha">
        <p id="ingresa"><a href="login">¿Ya estás registrado? Ingresa aquí</a></p>
        <p>
        <h1>Crea tu cuenta</h1>
        </p>
        <div>
          <form action="/user/register" method="POST" enctype="multipart/form-data" id="registro">
            <div class="grupo-formulario">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" name="nombre" class="input"
                value="<%= locals.oldData ? oldData.nombre : null %>">
              <% if(locals.errors && errors.nombre){ %>
                <div class="text-error">
                  <%= errors.nombre.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="apellido">Apellido:</label>
              <input type="text" id="apellido" name="apellido" class="input"
                value="<%= locals.oldData ? oldData.apellido : null %>">
              <% if(locals.errors && errors.apellido){ %>
                <div class="text-error">
                  <%= errors.apellido.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="email">Email:</label>
              <input type="text" id="email" name="email" class="input"
                value="<%= locals.oldData ? oldData.email : null %>">
              <% if(locals.errors && errors.email){ %>
                <div class="text-error">
                  <%= errors.email.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="foto">Foto de perfil:</label>
              <input type="file" id="foto" name="foto" class="input">
              <% if(locals.errors && errors.foto){ %>
                <div class="text-error" style=" width: 200px;">
                  <%= errors.foto.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="contraseña">Contraseña:</label>
              <input type="password" id="password" name="password" class="input">
              <% if(locals.errors && errors.password){ %>
                <div class="text-error">
                  <%= errors.password.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="confirmarContraseña">Confirmar contraseña:</label>
              <input type="password" id="confirmarPassword" class="input" name="confirmarPassword">
              <% if(locals.errors && errors.confirmarPassword){ %>
                <div class="text-error">
                  <%= errors.confirmarPassword.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <input type="checkbox" id="terminos" name="terminos">
              <label for="terminos" class="etiqueta-checkbox">Acepto los términos y condiciones</label>
              <% if(locals.errors && errors.terminos){ %>
                <div class="text-error">
                  <%= errors.terminos.msg %>
                </div>
                <% } %>
            </div>
            <button type="submit" id="boton1" class="input">Crear cuenta</button>
            <div class="grupo-formulario" id="redes">
              <button type="submit" class="boton2 input">Ingresa con Facebook <i class="fab fa-facebook-f"
                  style="color: #ffffff;"></i></button>
              <button type="submit" class="boton2 input">Ingresa con Google <i class="fab fa-google"
                  style="color: #ffffff;"></i></button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>