<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <section class="perfil">
        <img src="/img/concesionario-fondo.png" alt="foto de perfil">
        <!-- nombren<br>
        mail -->
      </section>

      <section id="derecha">
        <p id="ingresa"><a href="login">¿Ya estás registrado?  →  Ingresa aquí</a></p>
        <p>
        <h1>Crea tu cuenta</h1>
        </p>
        <div class="contenedor-formulario-registro">
          <form action="/user/register" method="POST" enctype="multipart/form-data" id="registro">
            <div class="grupo-formulario">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" name="nombre" class="input"
                value="<%= locals.oldData ? oldData.nombre : null %>">
              <% if(locals.errors && errors.nombre){ %>
                <div class="text-error">
                  <%= errors.nombre.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="apellido">Apellido:</label>
              <input type="text" id="apellido" name="apellido" class="input"
                value="<%= locals.oldData ? oldData.apellido : null %>">
              <% if(locals.errors && errors.apellido){ %>
                <div class="text-error">
                  <%= errors.apellido.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="email">Email:</label>
              <input type="text" id="email" name="email" class="input"
                value="<%= locals.oldData ? oldData.email : null %>">
              <% if(locals.errors && errors.email){ %>
                <div class="text-error">
                  <%= errors.email.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="foto">Foto de perfil:</label>
              <input type="file" id="foto" name="foto" class="input">
              <% if(locals.errors && errors.foto){ %>
                <div class="text-error" style=" width: 200px;">
                  <%= errors.foto.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="password">Contraseña:</label>
              <div class="form-password">
                <input type="password" id="password" name="password" class="input">
                <!-- Botón ocultar password -->
                <button type="button" class="boton-passsword" id="boton-passsword">
                  <i class="fas fa-eye ojoPasswordBoton" id="ocultar-password"></i>
                  <i class="fas fa-eye-slash ojoPasswordBoton" id="mostrar-password"></i>
                </button>
              </div>
              <% if(locals.errors && errors.password){ %>
                <div class="text-error">
                  <%= errors.password.msg %>
                </div>
                <% } %>
            </div>
            <div class="grupo-formulario">
              <label for="confirmarPassword">Confirmar contraseña:</label>
              <div class="form-password">
                <input type="password" id="confirmarPassword" class="input" name="confirmarPassword">
                <!-- Botón ocultar password -->
                <button type="button" class="boton-passsword" id="boton-confirmar-passsword">
                  <i class="fas fa-eye ojoPasswordBoton" id="ocultar-confirmar-password"></i>
                  <i class="fas fa-eye-slash ojoPasswordBoton" id="mostrar-confirmar-password"></i>
                </button>
              </div>
              <% if(locals.errors && errors.confirmarPassword){ %>
                <div class="text-error">
                  <%= errors.confirmarPassword.msg %>
                </div>
                <% } %>
            </div>

            <div class="grupo-formulario">
              <div class="form-password">
                <input type="checkbox" id="terminos" name="terminos">
                <label for="terminos" class="etiqueta-checkbox">Acepto los términos y condiciones</label>
                <% if(locals.errors && errors.terminos){ %>
                  <div class="text-error">
                    <%= errors.terminos.msg %>
                  </div>
                  <% } %>
                </div>
            </div>
            <ul id="errors" style="display: none ;" class="errors"></ul>
            <button type="submit" id="boton1" class="input">Crear cuenta</button>
            <div class="grupo-formulario" id="redes">
              <button type="submit" class="boton2 input">Ingresa con Facebook <i class="fab fa-facebook-f"
                  style="color: #ffffff;"></i></button>
              <button type="submit" class="boton2 input">Ingresa con Google <i class="fab fa-google"
                  style="color: #ffffff;"></i></button>
            </div>
          </form>
        </div>
      </section>


    </main>
    <%- include('../partials/footer') %>
      <script>

        // OCUTAR Password
        
        var botonPasssword = document.getElementById('boton-passsword');
        var botonConfirmPasssword = document.getElementById('boton-confirmar-passsword');

        var password = document.getElementById('password');
        var confirmarPassword = document.getElementById('confirmarPassword');

        var mostrarPassword = document.getElementById('mostrar-password');
        var mostrarConfirmarPassword = document.getElementById('mostrar-confirmar-password');

        var ocultarPassword = document.getElementById('ocultar-password')
        var ocultarConfirmarPassword = document.getElementById('ocultar-confirmar-password')
    
        botonPasssword.addEventListener("click", function(){
          if (password.type === "password") {
            password.type = "text";
            mostrarPassword.style.display = 'flex';
            ocultarPassword.style.display = 'none';

          } else {
            password.type = "password";
            ocultarPassword.style.display = 'flex';
            mostrarPassword.style.display = 'none';
          }
        })

//      OCUTAR Confirmar Password
        botonConfirmPasssword.addEventListener("click", function(){
          if (confirmarPassword.type === "password") {
            confirmarPassword.type = "text";
            mostrarConfirmarPassword.style.display = 'flex';
            ocultarConfirmarPassword.style.display = 'none';

          } else {
            confirmarPassword.type = "password";
            ocultarConfirmarPassword.style.display = 'flex';
            mostrarConfirmarPassword.style.display = 'none';
          }
        })






        window.addEventListener('load', () => {

          let form = document.querySelector('#registro')
          let name = document.querySelector('#nombre');
          let lastname = document.querySelector('#apellido');
          let email = document.querySelector('#email');
          let foto = document.querySelector('#foto');
          let password = document.querySelector('#password');
          let password2 = document.querySelector('#confirmarPassword');
          let terms = document.querySelector('#terminos');

          let errors = []

          form.addEventListener('submit', (e) => {

            if (name.value == '' || lastname.value == '' || email.value == '' || password.value == '' || password2.value == '') {
              e.preventDefault()
              errors.push('Los campos no pueden estar vacios')
            }
            if ((name.value.length < 2) || (lastname.value.length < 2)) {
              e.preventDefault()
              errors.push('Su nombre y/o apellido debera tener al menos 2 caracteres')
            }
            if (password.value.length < 8) {
              e.preventDefault()
              errors.push('La contraseña debe tener al menos 8 caracteres')
            }
            if (password.value != password2.value) {
              e.preventDefault()
              errors.push('La contraseña debe coincidir')
            }
            if (terms.value.checked == false) {
              e.preventDefault()
              errors.push('Debe aceptar los terminos y condiciones')
            }
            if (foto.value == '') {
              e.preventDefault()
              errors.push('Debe ingresar una foto')
            }

            if (errors.length > 0) {
              let list = document.querySelector('#errors')
              list.innerHTML = ''
              for (error of errors) {
                list.innerHTML += '<li>' + error + '</li>'
              }
              list.style.display = 'flex'
            }
            errors = []
          })


        })
      </script>
</body>

</html>